



.my_bg-green {
    background-color: #1abc9c;
}


div.inside {

    width: 100%;
    height: 400px;
    background-color: blue;
    
}

.my_bg-blue {

    background-color: darkblue;
    
}

.my_flex-end {
    justify-content: flex-end;
}

.my_white {
    color: white;
}