



.my_bg-green {
    background-color: #1abc9c;
    color: white;
}


div.inside {

    width: 100%;
    height: 400px;
    background-color: blue;
    
}

.my_bg-blue {

    background-color: darkblue;
    
}

.my_flex-end {
    justify-content: flex-end;
}

.my_white {
    color: white;
}

.my_bar {
    height: 4px;
    width: 20%;
    display: inline-block;
   
    border-radius: 4px;
}


.my_bg-white {
    background-color: white;
}

.my_bg-black {
    background-color: black;
}